[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
rope = "*"
setuptools = "*"
wheel = "*"

[packages]
h5py = "*"
numpy = "*"
pillow = "*"

[requires]
python_version = "3.6"
